{% extends 'base.html' %}

{% block content %}

<h2>Search</h2>

<form action="{{ url_for('search') }}" method="GET">
    <p><input type="text" name="search_term" value="{{ search_term }}">
    <input type="submit" value="🔍">
</form>

{% if searched %}
    {% for tweet in tweets %}
    <div style='margin:30px'>
        <h4>{{ tweet['username'] }}</h4>
        <p>{{ tweet['text']|safe }}</p>
        <p>written at {{ tweet['time'] }}</p>
    </div>
    {% endfor %}

    <p>page: {{ page }}</p>

    {% if page > 0 %}
    <a href="{{ url_for('search', search_term=search_term, page=page-1) }}">prev</a>
    {% endif %}

    {% if tweets|length == 20 %}
    <a href="{{ url_for('search', search_term=search_term, page=page+1) }}">next</a>
    {% endif %}
{% endif %}

{% endblock %}

